$color-primary: #005F7F;
$color-primary-hover: rgba(#005F7F, 0.75);

$color-secondary: rgba(255, 144, 21, 0.79);
$color-secondary-hover: rgba(255, 144, 21);

$color-disabled: #D0D0D0;

$color-error:#E63946;


$color-text: #4B4B4B;
